.container
  %h1 Chart of Accounts

  %table.table
    %thead
      %tr
        %th Name
        %th Type
        %th Balance
        %th
        %th

    %tbody
      = render 'table', accounts: @accounts

  %p Cash + Principal + Principal Receivable + Accrued Interest = Equity + Interest Income (retained earnings)

  = link_to 'New Account', [:new, :account], class: 'btn btn-success'

  %h4 Accounts Receivable by Product
  %table.table
    %thead
      %tr
        %th Product UUID
        %th Accounts Receivable Balance
        %th Actions
    %tbody
      = render Account.accounts_receivable.product_balances.by_product.positive

  %h4 Events & Actions
  - Event.all.includes(:actions).each do |event|
    %h5= event.name
    %ul
      - event.actions.each do |action|
        %li= action.type.demodulize

        %ul
          - if action.is_a?(Action::CreateTxn)
            Debit: #{action.debit_account.name}, Credit: #{action.credit_account.name}
          - else
            - action.waterfalls.each do |waterfall|
              %li Debit: #{waterfall.debit_account.name}, Credit: #{waterfall.credit_account.name} (decrease #{waterfall.from_account.name})
