#main
  .scroll-panel
    .scroll-panel-header
      = link_to "#", class: "btn btn-default btn-sm pull-left visible-xs", data: { toggle: "off-canvas", target: "#target" } do
        %i.fa.fa-bars
      = link_to [:new, :account], class: "btn btn-primary btn-sm pull-right" do
        %i.fa.fa-plus
        New
      %h3.scroll-panel-title Chart of Accounts
    .scroll-panel-body

      %table.table
        %thead
          %tr
            %th Name
            %th Type
            %th Balance
            %th
            %th

        %tbody
          = render 'table', accounts: @accounts

      .well
        Cash + Principal + Principal Receivable + Accrued Interest = Equity + Interest Income (retained earnings)

      %h4
        Late Accounts
        %small Accounts Receivable by Product
      %table.table
        %thead
          %tr
            %th Product UUID
            %th Accounts Receivable Balance
            %th Actions
        %tbody
          = render Account.accounts_receivable.product_balances.by_product.positive

      %h4
        Daily Balance
        %small Accounts Receivable for Product 4 (in cents)
      / = debug Account.daily_balance(:accounts_receivable, for_product: 4, date_range: Date.new(2014, 12, 25)..Date.new(2015, 1, 15))
      = debug ProductBalance.for_product(4).where(account: Account.accounts_receivable).time_series(Date.new(2014, 12, 25)..Date.new(2015, 1, 15))
